#build folders
**/bin/
**/bin-int/

#visual studio
.vs/
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user

# ImGui
PineCone/imgui.ini

# Instrumentation
profile-init.json
profile-run.json
profile-terminate.json

# Mac
.DS_Store
