#build folders
**/bin/
**/bin-int/
**/Debug/

#visual studio
.vs/
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user

# ImGui
PineCone/imgui.ini

# Instrumentation
profile-init.json
profile-run.json
profile-terminate.json
