[submodule "Pine/vendor/spdlog"]
	path = Pine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Pine/vendor/glfw"]
	path = Pine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule ".\\Pine\\vendor\\glm"]
	path = .\\Pine\\vendor\\glm
	url = https://github.com/g-truc/glm.git
[submodule ".\\Pine\\vendor\\stb\\stb"]
	path = .\\Pine\\vendor\\stb\\stb
	url = https://github.com/nothings/stb.git
[submodule "PineCone/vendor/ImGui"]
	path = PineCone/vendor/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Pine/vendor/entt"]
	path = Pine/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Pine/vendor/yaml-cpp"]
	path = Pine/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "PineCone/vendor/ImGuizmo"]
	path = PineCone/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
